In [1]:
import re
import pandas as pd
import tqdm, time

#### 1. generate a txt file with format chrN:12345678-12345678 using chromosome and hg19_position from file all_variants_and_proxies.csv

In [2]:
df = pd.read_csv('~/Documents/Materials/iron/all_variants_and_proxies.csv')
# df['format'] = 'chr'+df.chromosome.astype(str)+':'+df.hg19_position.astype(str)+'-'+df.hg19_position.astype(str)
# df['format'].to_csv('~/Documents/Projects/iron/variants_hg19.txt', index=False)

In [4]:
df[df.sandbox_format == 'chr1_22257509_T_A']

,chromosome,hg19_position,rsid,ea,nea,eaf,hg38_position,finn_format,finn_af,finn_rsid,finn_ref,finn_alt,match,finn_hg38,sandbox_format
2,1,22584002,rs75965181,T,A,0.981417,22257509,1:22257509:T:A (rs75965181),0.012,rs75965181,T,A,True,22257509.0,chr1_22257509_T_A

In [3]:
df

,chromosome,hg19_position,rsid,ea,nea,eaf,hg38_position,finn_format,finn_af,finn_rsid,finn_ref,finn_alt,match,finn_hg38,sandbox_format
0,1,22554378,rs112191583,T,C,0.982480,22227885,1:22227885:T:C (rs112191583),0.013,rs112191583,T,C,True,22227885.0,chr1_22227885_T_C
1,1,22572707,rs79052526,G,A,0.982444,22246214,1:22246214:G:A (rs79052526),0.013,rs79052526,G,A,True,22246214.0,chr1_22246214_G_A
2,1,22584002,rs75965181,T,A,0.981417,22257509,1:22257509:T:A (rs75965181),0.012,rs75965181,T,A,True,22257509.0,chr1_22257509_T_A
3,1,66073952,rs6664374,T,C,0.348560,65608269,id notfound,id notfound,NaN,NaN,NaN,False,NaN,NaN
4,1,66077624,rs6678033,A,G,0.367740,65611941,1:65611941:G:A (rs6678033),0.46,rs6678033,G,A,True,65611941.0,chr1_65611941_G_A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3181,22,37508424,rs5756519,G,C,0.575880,37112384,22:37112384:G:C (rs5756519),0.45,rs5756519,G,C,True,37112384.0,chr22_37112384_G_C
3182,22,37508507,rs5756520,G,A,0.575300,37112467,22:37112467:G:A (rs5756520),0.45,rs5756520,G,A,True,37112467.0,chr22_37112467_G_A
3183,22,37509844,rs228928,T,C,0.130130,37113804,22:37113804:T:C (rs228928),0.91,rs228928,T,C,True,37113804.0,chr22_37113804_T_C
3184,22,37509965,rs228929,A,C,0.129970,37113925,22:37113925:A:C (rs228929),0.91,rs228929,A,C,True,37113925.0,chr22_37113925_A_C
3185,22,37511033,rs1961437,A,G,0.130370,37114993,22:37114993:A:G (rs1961437),0.91,rs1961437,A,G,True,37114993.0,chr22_37114993_A_G

#### 2. convert hg19 coordinates to hg38 coordinates using liftover tool: 
https://genome.ucsc.edu/cgi-bin/hgLiftOver

#### 3. rename the file downloaded from the tool as variants_hg19.bed and then add it to all_variants_and_proxies.csv

In [7]:
df0 = pd.read_csv('~/Documents/Materials/iron/variants_hg38.bed', header=None) 
df['hg38_position'] = df0[0].str.extract('\:(\d+)\-') 
df.to_csv('~/Documents/Materials/iron/all_variants_and_proxies.csv', index=False)

#### 4. scrape off head and AF from https://results.finngen.fi/ using rsid
backend of finngen dashboard: https://github.com/FINNGEN/saige-pipelines/blob/master/wdl/gwas/saige.json

e.g. Given rs1961437,

```head = '22:37114993:A:G (rs1961437)'``` 

```str_af = 'AF 9.1e-1(ranges from 9.1e-1 to 9.1e-1 across all phenotypes)'```

```af = 0.91```

In [33]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service
browser = webdriver.Chrome(Service('/Users/feiwang/Documents/Projects/chromedriver'))
browser.get('https://results.finngen.fi/')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  after removing the cwd from sys.path.

In [160]:
finngen_format_list, finngen_af_list = [], []

for i in tqdm.tqdm(df.rsid.tolist()):
#     browser.get('https://results.finngen.fi/variant/'+1:22227885-T-C)
    # there are 9 SNPs without rsid in the file
    if type(i) == float:
        finngen_format_list.append('id isna')
        finngen_eaf_list.append('id isna')
    else:
        browser.find_element(By.XPATH, '//*[@id="navbar-searchbox-input"]').send_keys(i)
        browser.find_element(By.XPATH, '//*[@id="navbar-searchbox-input"]').send_keys(Keys.RETURN)
        time.sleep(5)
        try:
            head = browser.find_element(By.XPATH, '/html/body/div/div[1]/div/h1').text
        except:
    #         err = browser.find_element_by_xpath('//*[@id="reactEntry"]/div/div/div/p[1]').text
            head = 'id notfound'
        if head == 'id notfound':
            eaf = 'id notfound'
        else:
            try:
                str_af = browser.find_element(By.XPATH, '//*[@id="maf-range"]/p').text
                af = float(re.findall('AF ([\d|\.|e|\-]+)\(ranges', str_eaf)[0])
            except:
                af = 'eaf notfound'

        finngen_format_list.append(head)
        finngen_af_list.append(af)
        time.sleep(1)

  0%|          | 0/1039 [00:00<?, ?it/s]/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  # Remove the CWD from sys.path while we load stuff.
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  # This is added back by InteractiveShellApp.init_path()
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:14: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
100%|██████████| 1039/1039 [1:50:57<00:00,  6.41s/it]

In [169]:
df['finn_format'] = finngen_format_list
df['finn_af'] = finngen_af_list

In [198]:
df['finn_rsid'] = df.finn_format.str.extract(' \((rs\d+)\)')
df['finn_ref'] = df.finn_format.str.extract(':(\w+):\w+ \(')
df['finn_alt'] = df.finn_format.str.extract(':\w+:(\w+) \(')

In [199]:
df['match'] = df.finn_rsid == df.rsid

In [204]:
for i, row in df[(df.match == False)&(df.finn_rsid.isna())&(df.finn_format != 'id notfound')].iterrows():
    id_list = re.findall('(rs\d+)',row.finn_format)
    if row.rsid in id_list:
        df.loc[i,'finn_rsid'] = row.rsid
        df.loc[i,'match'] = True

In [245]:
print(len(df[df.match == False]),'cannot be found unfortunately')
print(len(df)-len(df[df.match == False]),'were found successfully')

514 cannot be found unfortunately
2672 were found successfully

#### 5. create a list of format that can be recognized in finngen sandbox

In [241]:
df['finn_hg38'] = df.finn_format.str.extract('\d{1,2}\:(\d+)\:\w+\:')
df['sandbox_format'] = 'chr'+df.chromosome.astype(str)+'_'+df.finn_hg38+'_'+df.finn_ref+'_'+df.finn_alt
df.to_csv('~/Documents/Materials/iron/all_variants_and_proxies.csv', index=False)

#### 6. obtain phecode_map from PheWAS package in R
See phecode_map.R for detail
#### 7. label a PheCode if it is sex-specified
Download sex-specified PheCode dictionary from https://phewascatalog.org/files/phecode_definitions1.2.csv.zip

In [411]:
phecode_map = pd.read_csv('~/Documents/Materials/iron/phecode_map.csv') 
phecode_def = pd.read_csv('~/Documents/Materials/iron/phecode_definitions1.2.csv') 
phecode_list = phecode_map.phecode.unique().tolist()
phecode_dict = pd.DataFrame({'phecode':phecode_list})
phecode_dict = phecode_dict.merge(phecode_def[['phecode','sex']], 'left')

In [416]:
phecode_sex = phecode_dict[(~phecode_dict.sex.isna())&(phecode_dict.sex != 'Both')]
# in total 166 sex-specified phecodes
phecode_sex.to_csv('~/Documents/Materials/iron/phecode_sex.csv', index=None)

#### 8. upload the files to green bucket: 
https://console.cloud.google.com/storage/browser/fg-production-sandbox-6_green

gsutil cp ~/Documents/Materials/iron/all_variants_and_proxies.csv gs://fg-production-sandbox-6_green/FeiyiWang

gsutil cp ~/Documents/Materials/iron/phecode_map.csv gs://fg-production-sandbox-6_green/FeiyiWang

gsutil cp ~/Documents/Materials/iron/phecode_sex.csv gs://fg-production-sandbox-6_green/FeiyiWang

#### 9. rerun the process for the final version:

In [5]:
df = pd.read_csv('~/Documents/Materials/iron/all_variants_and_proxies.csv')
df = df[df.match == True]
df_final = pd.read_csv('~/Documents/Materials/iron/all_variants_and_proxies_finn_af_final.csv')
df_final['index'] = df_final.index
# add sandbox format to df_final
df_final = df_final.merge(df[['rsid','sandbox_format']].drop_duplicates(),'left')
# save the data
df_final.to_csv('~/Documents/Materials/iron/all_variants_and_proxies_finn_af_final.csv', index=None)
# upload the data to the green bucket

gsutil cp ~/Documents/Materials/iron/all_variants_and_proxies_finn_af_final.csv gs://fg-production-sandbox-6_green/FeiyiWang

#### 10. download summary statistics
download the final results from green box to local machine for 2SMR analysis

gsutil cp gs://given_link/results.csv ~/Documents/Materials/iron/